<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <form action="/simple_function">
    <button class="btn">Object tracking</button>
    <!-- <button class="moveup">UP movement</button> -->
</form>
</head>
<body>
    
</body>
</html>
<style>
    /* .body{
        color: chartreuse;
    } */
    *{background-color: cornflowerblue;
    text-align: center;
    padding: 10px;
    padding-top: 4%;
padding-bottom: 3%;}
    .btn{
        background-color: rgb(113, 220, 20);
        text-justify: auto;
        font-size: larger;
        box-shadow: rgb(199, 88, 8);
        color:darkgoldenrod;
    }
    .btn :hover{
        background-color: blue;
        color: chartreuse;
    }
</style>